# Ignore files from the docker context
**/__pycache__
**/tests
**/.coverage
**/.git
.gitignore
.pytest_cache
.vagrant
.vscode
Dockerfile
Vagrantfile
chromedriver.exe
*.log
*.env*
.venv/
.dockerginore
